html {
    background-color: lightgrey;
}

body  {
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

header > h1 {
    text-transform: uppercase;
    display: inline;
}

.html5-tag {
    color: #8181F7;
}

#special-one {
    color: red;
}

.profile-image {
    height: 50px;
}