html {
  background-color: aqua;
}

[class*=span] {
  margin-bottom: 10px;
  margin-top: 10px;
}

.invert {
  background-color: #333;
  color: white;
}

.border,border-top {
  border: 1px solid #333;
}

.border-top {
  border-bottom: none;
}

.plus-box {
  position: relative;
  top: -20px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 25px;
}